.card {
  display: flex;
  align-items: center;
  margin: 8px 0;
  background: #fff;
}

.photo {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  object-fit: cover;
}

.info {
  flex: 1;
  margin-left: 12px;
}

.name {
  font-size: 17px;
  font-weight: 600;
}

.details {
  font-size: 13px;
  color: grey;
}

.menu-btn {
  background: none;
  border: none;
}
